# mermaid output files
docs/*.svg
docs/*.pdf
docs/chrome-headless-shell

# Eclipse files
.classpath
.project
.settings
.factorypath
.workspace

# maven
target
dependency-reduced-pom.xml

# Emacs
\#*#
.dir-locals.el
.lsp-session-v1

# intellij
.idea
**/*.iml
